@import "../../styles/variables.scss";

.card {
  padding: map-get($padding, "l");
}

.link {
  font-weight: 600;
  color: $light-grey;
  transition: 0.15s ease-out;
}

.link:hover {
  color: $dark-grey;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.description {
  color: black;
  margin: map-get($padding, "m") 0;
}

.image {
  color: black;
  margin: map-get($padding, "m") 0;

}