@import "../../../styles/variables.scss";  

$mobile-navbar-width: 18rem;

.overlay {
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.5);
  left: -100%;

  &.expanded {
    left: 0;
  }
}

.navBarContainer {
  z-index: 5000;
  background-color: $dark-grey;
  width: $mobile-navbar-width;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -$mobile-navbar-width;

  &.expanded {
    left: 0;
    transition: 0.3s;
  }
}

.section {
  padding: map-get($padding, "l") 0;
  margin: 0;
}

.linkHeader {
  color: white;
  font-weight: bold;
  padding: map-get($padding, "s");
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: rgba(150,150,150);
}

.link:hover {
  color: white;
}

.activeLink {
  color: white;
}

.activeLink:hover {
  color: white;
}